body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.block-container {
  display: block;
  text-align: center;
  padding: 30px;
  background-color: #f7f9fc;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the block container on the page */
  max-width: 600px; /* Set a maximum width to prevent it from stretching too much */
}

#map {
  height: 400px; /* Adjust the height as needed */
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc; /* Add a border for visibility */
  border-radius: 5px;
  margin-top: 20px; /* Add some space between the map and other elements */
}

.section-header {
  margin-bottom: 20px;
  color: #333;
}

.dropdown-container {
  margin-top: 20px;
}

.dropdown-label {
  display: block;
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

